@media screen and (max-width:1360px){
	
}

@media screen and (max-width:1366px){
		
}

@media screen and (max-width:1290px){
		
}

@media screen and (max-width:1199px){
	
	
}

@media screen and (max-width:1025px){
	
	
}

@media screen and (max-width:991px){	
    .header-content {
        display: none;
    }
    
    .mobile-menu {
        display: block;
    }
}

@media screen and (max-width:800px){

}

@media screen and (max-width:767px){
	
}

@media screen and (max-width:639px){
.modal-dialog.width542 {
    width: 90%;
}
	
.modal-content.custom-dash-modal {
    padding: 20px;
}
	
.modal-content.custom-dash-modal .modal-header .modal-title {
    padding-right: 25px;
}	
	
	
}

@media screen and (max-width:479px){

}

@media screen and (max-width:359px){
	
}

